<a href="https://colab.research.google.com/github/Wolf123987/News-classification-in-different-catagory-/blob/main/Classification_of_news_in_to_different_catagory_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Importing required libraries ***

In [46]:
import pandas as pd
import numpy as np

In [47]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [48]:
from google.colab import files

In [49]:
sharma = pd.read_csv("https://raw.githubusercontent.com/amankharwal/Website-data/master/bbc-news-data.csv", sep='\t')

In [50]:
sharma.head(25)

,category,filename,title,content
0,business,001.txt,Ad sales boost Time Warner profit,Quarterly profits at US media giant TimeWarne...
1,business,002.txt,Dollar gains on Greenspan speech,The dollar has hit its highest level against ...
2,business,003.txt,Yukos unit buyer faces loan claim,The owners of embattled Russian oil giant Yuk...
3,business,004.txt,High fuel prices hit BA's profits,British Airways has blamed high fuel prices f...
4,business,005.txt,Pernod takeover talk lifts Domecq,Shares in UK drinks and food firm Allied Dome...
5,business,006.txt,Japan narrowly escapes recession,Japan's economy teetered on the brink of a te...
6,business,007.txt,Jobs growth still slow in the US,The US created fewer jobs than expected in Ja...
7,business,008.txt,India calls for fair trade rules,"India, which attends the G7 meeting of seven ..."
8,business,009.txt,Ethiopia's crop production up 24%,Ethiopia produced 14.27 million tonnes of cro...
9,business,010.txt,Court rejects $280bn tobacco case,A US government claim accusing the country's ...
10,business,011.txt,Ask Jeeves tips online ad revival,Ask Jeeves has become the third leading onlin...
11,business,012.txt,Indonesians face fuel price rise,Indonesia's government has confirmed it is co...
12,business,013.txt,Peugeot deal boosts Mitsubishi,Struggling Japanese car maker Mitsubishi Moto...
13,business,014.txt,Telegraph newspapers axe 90 jobs,The Daily and Sunday Telegraph newspapers are...
14,business,015.txt,Air passengers win new EU rights,Air passengers who are unable to board their ...
15,business,016.txt,China keeps tight rein on credit,China's efforts to stop the economy from over...
16,business,017.txt,Parmalat boasts doubled profits,"Parmalat, the Italian food group at the centr..."
17,business,018.txt,India's rupee hits five-year high,India's rupee has hit a five-year high after ...
18,business,019.txt,India widens access to telecoms,India has raised the limit for foreign direct...
19,business,020.txt,Call centre users 'lose patience',Customers trying to get through to call centr...
20,business,021.txt,Rank 'set to sell off film unit',Leisure group Rank could unveil plans to deme...
21,business,022.txt,Sluggish economy hits German jobs,The number of people out of work in Europe's ...
22,business,023.txt,Mixed signals from French economy,The French economy picked up speed at the end...
23,business,024.txt,US trade gap hits record in 2004,The gap between US exports and imports hit an...
24,business,025.txt,Yukos loses US bankruptcy battle,A judge has dismissed an attempt by Russian o...

In [52]:
sharma.columns

Index(['category', 'filename', 'title', 'content'], dtype='object')

In [53]:
sharma.describe()

,category,filename,title,content
count,2225,2225,2225,2225
unique,5,511,2096,2092
top,sport,001.txt,Microsoft seeking spyware trojan,Microsoft has warned PC users to update their...
freq,511,5,2,2

In [55]:
sharma.shape

(2225, 4)

In [51]:
sharma.isna().sum()

category    0
filename    0
title       0
content     0
dtype: int64

In [16]:
sharma["category"].value_counts()

sport            511
business         510
politics         417
tech             401
entertainment    386
Name: category, dtype: int64

In [40]:
sharma = sharma[["title", "category"]]

x = np.array(data["title"])
y = np.array(data["category"])

cv = CountVectorizer() ## to convert the text(words) in to numbers
X = cv.fit_transform(x)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [41]:
model = MultinomialNB()
model.fit(X_train,y_train)

MultinomialNB()

In [58]:
user = input("Enter a Text: ")
sharma = cv.transform([user]).toarray()
output = model.predict(sharma)
print(output)

Enter a Text: trade
['business']

***by  giving any word from the input feartues : "title " the model will predict its catagory ***